* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: snow;
    padding-bottom:60px;
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.paddingTop {
    padding-top: 90px;
}

.portPaddingTop {
    padding-top: 90px;
}

.cardPadding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.floatLeft {
    float: left;
    padding-right: 20px;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #353A41;
    color: snow;
    padding-top: 15px;
}

.position {
    position: relative;
}

.imgBanner {
    top: 60%;
    background-color: snow;
    color: #353A41;
    text-align: center;
    position: absolute;
    width: 82%;
    height: 50px;
    left: 17px;
    margin: 0 auto;
    opacity: 90%;
}
 .img {
     padding:25px 25px 25px 25px;
 }

 .fonts {
     font-family: 'Courier New', Courier, monospace;
 }

 .fa {
    font-size: 50px;
    width: 28px;
    padding-top: 3px;
    text-decoration: none;
    border-radius: 50%;
    color: snow;
  }

  #footerCopyright {
    font-family: 'Montserrat', sans-serif;
    
  }

 /* Iphone X media screen */
@media screen and (min-device-width : 375px) and (max-device-width: 812px) and (orientation : portrait) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .header {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

    .paddingTop {
        padding-top: 75px;
    }

    .floatLeft{
        float: none;
        padding-left: 20px;
        margin: 0 auto;
        
    }

    .imgBanner {
        top: 60%;
        background-color: snow;
        color: #353A41;
        text-align: center;
        position: absolute;
        width: 300px;
        height: 50px;
        left: 2%;
        opacity: 90%;
    }

    .fonts {
        font-family: 'Courier New', Courier, monospace;
    }
}
@media screen and (min-device-width : 375px) and (max-device-width: 812px) and (orientation : landscape) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .header {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

    .paddingTop {
        padding-top: 75px;
    }

    .floatLeft{
        float: none;
        padding-left: 20px;
        margin: 0 auto;
        
    }

    .img {
        margin: 0 auto;
    }

    .imgBanner {
        top: 60%;
        background-color: snow;
        color: #353A41;
        text-align: center;
        position: absolute;
        width: 55%;
        height: 50px;
        opacity: 90%;
    }

    .fonts {
        font-family: 'Courier New', Courier, monospace;
    }

}

@media screen and (min-device-width : 414px) and (max-device-width: 736px) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .header {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

    .paddingTop {
        padding-top: 75px;
    }

    .floatLeft{
        float: none;
        padding-left: 20px;
        margin: 0 auto;
        
    }

    .img {
        margin: 0 auto;
    }

    .imgBanner {
        top: 60%;
        background-color: snow;
        color: #353A41;
        text-align: center;
        left: -158px;
        width: 56%;
        height: 50px;
        opacity: 90%;
    }

    .fonts {
        font-family: 'Courier New', Courier, monospace;
    }
}

@media screen and (min-device-width: 376px) and (max-device-width: 597px) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .header {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

    .paddingTop {
        padding-top: 75px;
    }

    .floatLeft{
        float: none;
        padding-left: 20px;
        margin: 0 auto;
        
    }

    .img {
        margin: 0 auto;
    }

    .imgBanner {
        top: 60%;
        background-color: snow;
        color: #353A41;
        text-align: center;
        left: -160px;
        width: 55%;
        height: 50px;
        opacity: 90%;
    }

    .fonts {
        font-family: 'Courier New', Courier, monospace;
    }
}