* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: snow;
    padding-bottom:60px;
}

.paddingTop {
    padding-top: 90px;
}

.portPaddingTop {
    padding-top: 90px;
}

.cardPadding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.floatLeft {
    float: left;
    padding-right: 20px;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #353A41;
    color: snow;
    text-align: center;
    padding-top: 10px;
}

.position {
    position: relative;
}

.imgBanner {
    top: 60%;
    background-color: snow;
    color: #353A41;
    text-align: center;
    position: absolute;
    width: 82%;
    height: 50px;
    left: 17px;
    margin: 0 auto;
    opacity: 90%;
}
 .img {
     padding:25px 25px 25px 25px;
 }

@media screen and (min-device-width : 375px) and (max-width: 812px) and (orientation : portrait) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .paddingTop {
        padding-top: 75px;
    }

    .floatLeft{
        float: none;
        padding-left: 20px;
        margin: 0 auto;
        
    }

    .imgBanner {
        top: 60%;
        background-color: snow;
        color: #353A41;
        text-align: center;
        position: absolute;
        width: 80%;
        height: 50px;
        left: 7px;
        margin: 0 auto;
        opacity: 90%;
    }
}
@media screen and (min-device-width : 375px) and (max-width: 812px) and (orientation : landscape) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .paddingTop {
        padding-top: 75px;
    }

    .floatLeft{
        float: none;
        padding-left: 20px;
        margin: 0 auto;
        
    }

    .imgBanner {
        top: 60%;
        background-color: snow;
        color: #353A41;
        text-align: center;
        position: absolute;
        width: 50%;
        height: 50px;
        left: 7px;
        margin: 0 auto;
        opacity: 90%;
    }
}
/* @media screen and (min-width: 640px) and (max-width: 768px) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .paddingTop {
        padding-top: 75px;
    }

    .floatLeft{
        float: none;
        padding-left: 20px;
        margin: 0 auto;
        
    }

    .imgBanner {
        top: 60%;
        background-color: snow;
        color: #353A41;
        text-align: center;
        position: absolute;
        width: 30%;
        height: 50px;
        left: 7px;
        margin: 0 auto;
        opacity: 90%;
    }
} */