* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: snow;
}

.cardContent {
    padding-top: 90px;
}

.cardPadding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.floatLeft {
    float: left;
    padding-right: 20px;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #353A41;
    color: snow;
    text-align: center;
    padding-top: 10px;
      
}

.position {
    position: relative;
}

.imgBanner {
    top: 60%;
    background-color: snow;
    color: #353A41;
    text-align: center;
    position: absolute;
    width: 82%;
    height: 50px;
    left: 17px;
    margin: 0 auto;
}
 .img {
     padding:25px 25px 25px 25px;
 }

@media screen and (max-width: 640px) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .floatLeft{
        float: none;
        padding-left: 20px;
        margin: 0 auto;
        
    }

    .imgBanner {
        top: 60%;
        background-color: snow;
        color: #353A41;
        text-align: center;
        position: absolute;
        width: 62%;
        height: 50px;
        left: -120px;
        margin: 0 auto;
    }
}